[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa.git
[submodule "lofreq"]
	path = lofreq
	url = https://github.com/CSB5/lofreq.git
[submodule "htsbox"]
	path = htsbox
	url = https://github.com/lh3/htsbox.git
[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2.git
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
