[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "snap"]
	path = snap
	url = https://github.com/amplab/snap.git
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa.git
[submodule "bcftools"]
	path = bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "lofreq"]
	path = lofreq
	url = https://github.com/CSB5/lofreq.git
[submodule "htsbox"]
	path = htsbox
	url = https://github.com/lh3/htsbox.git
